<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
  
  
  <servlet>
	<servlet-name>insert</servlet-name>
	<servlet-class>com.feifei.controller.ContactController</servlet-class>
</servlet>
<servlet>
	<display-name>image</display-name>
	<servlet-name>image</servlet-name>
	<servlet-class>com.feifei.controller.DrawImage</servlet-class>
</servlet>
<servlet>
	<servlet-name>addr</servlet-name>
	<servlet-class>com.feifei.controller.IPController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>addr</servlet-name>
	<url-pattern>/addr</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>insert</servlet-name>
	<url-pattern>/insert</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>image</servlet-name>
	<url-pattern>/servlet/image</url-pattern>
</servlet-mapping>
</web-app>
